<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @card.description %>
</p>

<p>
  <b>Points:</b>
  <%= @card.points %>
</p>

<p>
  <b>Status:</b>
  <%= @card.status %>
</p>


<%= link_to 'Edit', edit_card_path(@card) %> |
<%= link_to 'Back', cards_path %>
